.label {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #4c4642;
  font-weight: bold;
  padding: 0px;
}
.input {
  font-size: 1.2rem;
  color: #28211c;
  border: none;
  padding: 5px 0px 10px 0px;
  margin-bottom: 20px;
  border-bottom: dashed 1px #00000059;

}
.error {

}
.feedback {
  
}
.cancel {

}
.submit {

}

.teamBadge {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 60px;
  height: 60px;
}
