
.title {
    font-size: 2.5rem;
    font-weight: 200;
    height: 1rem;
    padding: 0;
  }
  
.subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 2rem;
  padding: 0;
}