.team {
  width: 100%;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.field {
  flex: 0 1 calc(33% - 1em);
  height: 40px;
}

.label {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
}
.info {
  font-size: 0.85rem;
}
